extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Samita Magar

        p Full Stack JavaScript Developer


        .about-bio

          p I'm Samita, a Junior Full Stack Developer passionate about creating user-friendly and visually captivating digital experiences. My diverse skill set spans front-end and back-end technologies, and I've meticulously designed this portfolio to showcase my work. From web applications to mobile apps, I approach every project with dedication and attention to detail. Let's connect and explore how we can collaborate to bring your digital vision to life.




      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li React

        h6 My Contact Info

        ul
          li +61 424337343
          li magarsamita65@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/samita-magar-64a149120/') LinkedIn
        a.btn-link(href='https://github.com/Samita-Magar') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back