extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p This is a portfolio website to show the projects that I've worked on. Click on the images below to know more about the projects...


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src= project.image_urls1, alt=`Thumbnail for ${project.project_name}`)
            h5= project.project_name

